[Desktop Entry]
Version=1.0
Type=Application
Name=Atmos Music Hub
Comment=7.1 Surround Bridge for FL Studio 20
Exec=python3 /home/john/nobara-atmos-bridge/src/main.py
Icon=/home/john/nobara-atmos-bridge/logo.png
Path=/home/john/nobara-atmos-bridge/
Terminal=true
StartupNotify=true
Categories=AudioVideo;Audio;
